.NavBar {
    font-family: 'Nunito';
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 99;
}

.nav-bar-wrapper {
    font-family: 'Nunito';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 60px;
}


#nav-bar-logo {
    height: 40px;
}

#login-nav-button {
    font-family: 'Nunito';
    color: black;
}

#login-nav-button:hover {
    cursor: pointer;
    color: #ff4545;
}

#login-nav-text {
    font-weight: 700;
}

#login-nav-text:link {text-decoration: none;}
#login-nav-text:active {text-decoration: none;}
#login-nav-text:visited {text-decoration: none;}
#login-nav-button:link {text-decoration: none;}
#login-nav-button:active {text-decoration: none;}
#login-nav-button:visited {text-decoration: none;}

#signup-nav-button {
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5F5F;
    width: 125px;
    height: 45px;
    border-radius: 999px;
    transition: .5s;
}

#signup-nav-button:hover {
    cursor: pointer;
    background-color: #ff4545;
}

#signup-nav-text {
    color: white;
    font-weight: 700;
}

#signup-nav-text:link {text-decoration: none;}
#signup-nav-text:active {text-decoration: none;}
#signup-nav-text:visited {text-decoration: none;}

.nav-bar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100%;
}

.logged-in-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 60px;
}

#nav-bar-avatar {
    height: 24px;
    width: 24px;
    border-radius: 9999px;
    object-fit: cover;
}

#nav-bar-dropdown {
    height: 30px;
    transition: 1s;
}

#nav-bar-dropdown:hover {
    cursor: pointer;
    filter: invert(60%) sepia(33%) saturate(7462%) hue-rotate(326deg) brightness(108%) contrast(109%);
}

#dropdown-parent-container {
    position: relative;
  }

  #dropdown-upper-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: absolute;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    top: 10px;
    right: 0px;
    width: 240px;
    box-shadow: 0px 2px 15px rgba(51, 51, 51, 0.4);
  }

  .dropdown-links:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
  }



  .dropdown-links {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 15px;
    /* display: block; */
  }

  .dropdown-button {
    display: block;
  }

  #dropdown-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5px 10px;
    border-bottom: 1px lightgray solid;
  }

  .dropdown-text-rows {
    padding: 0px 0px 10px 5px;
    overflow: ellipsis;
  }
  .dropdown-top-sections{
    padding: 5px 5px;
  }
  .dropdown-email {
    padding-top: 10px;
  }

  .dropdown-about-me{
    border: none;
    background-color: white;
    text-align: left;
    font-size: 16px;

  }

  .dropdown-about-me:hover{
    background-color: rgb(231, 231, 231);

  }

  .dropdown-about-me{
    padding-top: 10px;
  }

  #dropdown-links-container {
    padding-top: 10px;
  }

  #icon-img-business-navbar {
    height: 15px;
    margin-right: 10px;
  }

  .your-page-button {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 35px;
    font-weight: 700;
    color: black;
    background-color: #f7f7f7;
    border-radius: 999px;
    transition: .5s;
  }

  .your-page-button:hover {
    background-color: #dfdfdf;
  }

  #your-page-text-dec:active {text-decoration: none;}
  #your-page-text-dec:link {text-decoration: none;}
  #your-page-text-dec:focus {text-decoration: none;}

  .your-page {
    font-size: 14px;
  }

  #discover-link {
    color: black;
  }

  #discover-link:link {text-decoration: none;}
  #discover-link:active {text-decoration: none;}
  #discover-link:focus {text-decoration: none;}
