.user-page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1500px;
    /* border: red 1px solid; */
}

.gradient-top-user-page {
    position: fixed;
    z-index: -1;
    height: 80px;
    width: 100%;
    opacity: .1;
    background: linear-gradient(black, transparent);
}

.user-page-top-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-bottom: #f7f8f9 3px solid;
}

.user-page-container {
    padding-top: 50px;
    width: 950px;
    height: 1500px;

}

.cover-img-wrapper {
    width: 950px;
    height: 300px;

}

.top-bottom-portion-profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 101px;
}

.top-bottom-portion-about {
    color: #FF5F5F;
    font-weight: 700;
    font-size: 16px;
    border-bottom: #FF5F5F solid 3px;
}

.top-bottom-portion-received {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 18px;
}

.user-page-top-city-state {
    color: gray;
    font-size: 14px;
}

#received-lattes {
    height: 30px;
    margin-right: 10px;
}

.rec-div {
    margin-left: 10px;
}

#user-page-cover-img {
    width: 100%;
    height: 340px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;

}

.avatar-wrapper {
    display: flex;
    align-items: center;
}

#user-page-avatar {
    position: absolute;
    top: 360px;
    width: 120px;
    height: 120px;
    border: white 3px solid;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.user-page-top-name-container {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 140px;
}

.user-page-top-name {
    font-weight: 700;
    font-size: 22px;
}


.user-page-mid-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 700px; */
    margin-top: 60px;
}

.user-page-mid-left {
    display: flex;
    position: sticky;
    top: 40px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.user-page-mid-left-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 1600px; */
}

.user-page-mid-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 150px;
}

.support-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.user-page-mid-right {
    display: flex;
    flex-direction: column;
    width: 530px;
    border-radius: 20px;
}

#website-icon {
    height: 15px;
    margin-right: 10px;
    padding-top: 2px;
}

.user-page-website-sticky {
    display: flex;

}

.website-url {
    color: black;
    transition: .5s;
}

.website-url:hover {
    color: #E55E5E;
}

#website-url:link {
    text-decoration: none;
}

#website-url:active {
    text-decoration: none;
}

#website-url:focus {
    text-decoration: none;
}

.submit-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.submit-post-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80%;
}

.submit-post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120%;
    width: 100%;

}

.submit-post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-top: lightgray 2px solid;
    padding-top: -30px;
}

#post-user-ava-icon {
    width: 45px;
    height: 45px;
    border-radius: 999px;
    object-fit: cover;
    margin-left: 15px;
}

.write-a-post-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 45px;
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 999px;
    margin-left: 10px;
    margin-right: 15px;
    color: rgba(000, 000, 000, 0.5);
    transition: .5s;
}

.write-a-post-container:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

#submit-post-icon {
    height: 15px;
}

#submit-post-action-suggestions {
    font-weight: 700;
    color: gray;
}

#submit-post-action-suggestions:hover {
    cursor: default;
}

.post-tag {
    position: absolute;
    color: gray;
    background-color: white;
    font-weight: 700;
    font-size: 10px;
    top: 750px;
    right: 710px;
    border: 5px solid white;
}

.post-wrapper {
    width: 100%;
    /* height: 600px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-ava-username {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#post-user-pfp {
    height: 40px;
    width: 40px;
    border-radius: 999px;
    object-fit: cover;
}

.post-user-username {
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #64686b;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 20px;
}

.post-content-wrapper {
    width: 90%;
    height: 90%;

}

.post-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
}

.post-text {
    margin-top: 10px;
    color: #64686b;
    word-wrap: break-word;
}

.post-comment-count {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.comment-counter {
    transition: .5s;
}

.comment-counter:hover {
    cursor: pointer;
    color: #E55E5E;
}


.post-modal-wrapper {
    height: 80%;
    width: 90%;
}

.post-modal-ava-post-container {
    display: flex;
    width: 100%;
    height: 65%;

}

.post-modal-img-url-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17.5%;

}

#modal-avatar {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 999px;
}


#post-text-input {
    font-family: 'Nunito';
    padding-top: 10px;
    padding-left: 20px;
    height: 245px;
    width: 86%;
    border-radius: 10px;
    border: transparent;
    font-size: 18px;
    outline: none;
    resize: none;
}

#post-text-input::placeholder {
    color: rgb(168, 199, 209);
}

#post-text-input:focus {
    border: transparent;
}

#post-text-input:active {
    border: transparent;
}

#post-img-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 95%;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

#post-img-input::placeholder {
    color: rgb(168, 199, 209);
}


.post-modal-submit-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 17.5%;
}

.post-modal-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: #ffeeee;
    border-radius: 10px;
    font-weight: 700;
    color: #FF5F5F;
    transition: .5s;
    border: transparent;
}

.post-modal-submit-button:hover {
    cursor: pointer;
    background-color: #ffdada;
}

#post-modal-form {
    height: 100%;
}


#delete-icons {
    height: 15px;
    transition: .5s;
    margin-right: 5px;
    filter: invert(94%) sepia(8%) saturate(20%) hue-rotate(314deg) brightness(95%) contrast(80%);
}

#edit-icons {
    height: 15px;
    transition: .5s;
    filter: invert(94%) sepia(8%) saturate(20%) hue-rotate(314deg) brightness(95%) contrast(80%);
}

#delete-icons:hover {
    cursor: pointer;
    filter: invert(0%) sepia(96%) saturate(4%) hue-rotate(338deg) brightness(104%) contrast(98%);
}

#edit-icons:hover {
    cursor: pointer;
    filter: invert(0%) sepia(96%) saturate(4%) hue-rotate(338deg) brightness(104%) contrast(98%);
}

.d-e-align {
    margin-top: 2px;
}

#comment-fixed-container {
    position: fixed;
    left: 868px;
    bottom: 660px;
}

.comment-overflow {
    overflow-y: scroll;
}

.whereisthis {
    overflow-y: scroll;
    height: 100%;
}

.whereisthis::-webkit-scrollbar {
    width: 14px;
}

.whereisthis::-webkit-scrollbar-track {
    background: #ffffff;
}

.whereisthis::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

.close-comment-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.close-comment-container:hover {
    cursor: pointer;
}

#close-comment {
    height: 15px;
}

#comment-post-img-id {
    margin-top: 13px;
    margin-bottom: 15px;
    width: 99%;
    height: 30px;
    object-fit: cover;
    border-radius: 999px;
}

#comment-fixed-upper-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    top: 10px;
    right: 0px;
    width: 380px;
    height: 620px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.comment-send-links:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}



.comment-send-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 15px;
    /* display: block; */
}

.dropdown-button {
    display: block;
}

#comment-fixed-sections {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px 10px;
    /* border-bottom: 1px lightgray solid; */

}

.dropdown-text-rows {
    padding: 0px 0px 10px 5px;
    overflow: ellipsis;
}

.dropdown-top-sections {
    padding: 5px 5px;
}

.dropdown-email {
    padding-top: 10px;
}

.dropdown-about-me {
    border: none;
    background-color: white;
    text-align: left;
    font-size: 16px;

}

.dropdown-about-me:hover {
    background-color: rgb(231, 231, 231);

}

.dropdown-about-me {
    padding-top: 10px;
}

#dropdown-links-container {
    padding-top: 10px;
}

#leave-comment-session-user-ava {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 999px;
}

#comment-text-input {
    font-family: 'Nunito';
    padding-top: 10px;
    padding-left: 20px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: transparent;
    font-size: 18px;
    outline: none;
    resize: none;
}

#comment-edit-text-input {
    font-family: 'Nunito';
    padding-top: 10px;
    padding-left: 20px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: lightgray 2px solid;
    background-color: #e9ffff;
    font-size: 18px;
    outline: none;
    resize: none;
}

#post-text-input::placeholder {
    color: rgb(168, 199, 209);
}

#post-text-input:focus {
    border: transparent;
}

#post-text-input:active {
    border: transparent;
}

.buy-latte-for-wrapper {
    font-weight: 700;
    font-size: 20px;
}

.submit-latte-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.thank-you-submit-latte-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 530px;
    height: 250px;
    border-radius: 20px;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
}


@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

#your-donation-cup {
    height: 50px;
}

.your-donation-sent {
    font-weight: 700;
    font-size: 20px;
}

.your-donation-thanks {
    font-size: 20px;
    font-style: italic;
}

.submit-latte-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 80%;
}

.submit-latte-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.buy-latte-counter {
    display: flex;
    justify-content: space-between;
    /* border: blue 1px solid; */
}

.btn__container {
    display: flex;
    /* width: 100px; */
    /* border: red 1px solid; */
}

.counter__output {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 70px;
    border: lightgray 2px solid;
    border-radius: 999px;
    margin-left: 10px;
    margin-right: 10px;
}

.control__btn-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: gray;
    height: 45px;
    width: 45px;
    background-color: #ececec;
    border-radius: 999px;
    transition: 1s;
    border: transparent;
}

.control__btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5f5f;
    font-weight: 700;
    font-size: 20px;
    height: 45px;
    width: 45px;
    background-color: #ffeeed;
    border-radius: 999px;
    transition: 1s;
    border: transparent;
}

.control__btn-add:hover {
    cursor: pointer;
    background-color: #ffe5e4;
}

.control__btn-sub:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

#buy-latte-ava-icon {
    width: 45px;
    height: 45px;
    border-radius: 999px;
    object-fit: cover;
    margin-right: 15px;
}

#latte-comment-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#latte-comment-input::placeholder {
    /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

.leave-latte-submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 100%;
    height: 45px;
    background-color: #FF5F5F;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transition: .5s;
    border: transparent;
}

.leave-latte-submit-wrapper:hover {
    cursor: pointer;
    background-color: #ff5353;
}

.counter__output {
    font-size: 18px;
}

.comment-content-username-wrapper {
    display: flex;
    align-items: center;
}

.comment-content-username {
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 17px;
    padding-right: 20px;
}

.comment-content-createdat {
    color: gray;
    font-size: 12px;
}

#comment-content-user-avatar {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 999px;
    margin-right: 10px;
}

.comment-content-comment {
    margin-bottom: 30px;
    word-wrap: break-word;
}

.lattes-cost-center {
    display: flex;
    align-items: center;
}

#send-comment-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: transparent;
    background-color: #FF5F5F;
    border-radius: 999px;
    transition: .5s;
    left: 350px;
    bottom: 30px;
}

#send-comment-button:hover {
    cursor: pointer;
    background-color: #ff5353;

}

#send-comment-icon {
    padding-left: 3px;
    height: 15px;
    width: 15px;
    object-fit: cover;
    filter: invert(98%) sepia(6%) saturate(930%) hue-rotate(254deg) brightness(117%) contrast(100%);
}

#error-holder {
    position: absolute;
    bottom: 70px;
    left: 20px;
}

#post-edit-error {
    color: #FF7F7F;
}


#error-latte-holder {
    position: absolute;
    bottom: 280px;
    right: 560px;
}

#latte-comment-error {
    color: #FF7F7F;
}

/* #error-holder-comment {

} */

#post-comment-error {
    position: absolute;
    left: 20px;
    bottom: 70px;
    color: #FF7F7F;
}
