.sign-up-full-page{
    width: 100vw;
    height: 100%;
    background-color: #fefaf9;
}

.whitespace-errors {
    width: 100%;
    height: 70px;
}

.signup-form-errors {
    color: #FF5F5F;
    overflow-y: scroll;
    height: 65px;
    width: 400px;
}

#signuperror {
    margin-bottom: 10px;
}

.signup-form-errors::-webkit-scrollbar {
    width: 14px;
}

.signup-form-errors::-webkit-scrollbar-track {
    background: transparent;
}

.signup-form-errors::-webkit-scrollbar-thumb {
    background-color: #FF7F7F;
    border-radius: 10px;
}

.checking {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

#first-name-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 200px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#first-name-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#last-name-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 200px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#last-name-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#username-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#username-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#email-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#email-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#state-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 200px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#state-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#city-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 200px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#city-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#avatar-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#avatar-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#cover-img-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#cover-img-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#bio-input {
    font-family: 'Nunito';
    padding-top: 10px;
    padding-left: 20px;
    height: 245px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#bio-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#password-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#password-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#password2-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#password2-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}

#signup-input {
    font-family: 'Nunito';
    height: 45px;
    width: 450px;
    border: none;
    background-color: #FF5F5F;
    border-radius: 999px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: .5s;
}

#signup-input:hover {
    cursor: pointer;
    background-color: #ff4545;

}

#signup-form-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

#website-input {
    font-family: 'Nunito';
    padding-left: 20px;
    height: 45px;
    width: 425px;
    border: lightgray 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

#website-input::placeholder { /* Microsoft Edge */
    color: rgb(168, 199, 209);
}
