.starting-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 800px;
}

.bottom-about-la-te {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eff1f3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-splash-title {
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    text-align: center;
    width: 710px;
    font-weight: 800;
    font-size: 45px;
    background: -webkit-linear-gradient(135deg, #5b8dfe 0%, #ff5f5f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-splash-paragraph {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    width: 710px;
    color: gray;
    font-weight: 500;
    font-size: 25px;
}

.whitespace {
    height: 100px;
    width: 100%;
}

.top-splash-background-img {
    position: absolute;
    z-index: -1;
    top: 100px;
}

.la-te-url-input {
    font-weight: 800;
    font-size: 20px;
    color: #5A5A5A;
}

.top-splash-input-signup {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 450px;
    background-color: white;
    border-radius: 999px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.la-te-url-grouper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-claim {
    padding-left: 5px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;
    color: gray;
}

.input-claim:focus {
    outline: none !important;
}


.claim-button-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 55px;
    color: white;
    background-color: #ff5f5f;
    border-radius: 999px;
    transition: .5s;
}

.claim-button-input:hover {
    cursor: pointer;
    background-color: #ff4545;
}

.top-splash-below-input {
    color: gray;
}


.under-top-splash-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 400px;
}


.under-splash-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 100%;
}

.under-splash-title {
    font-weight: 700;
    font-size: 35px;
}

.under-splash-paragraph {
    text-align: center;
    color: gray;
    font-weight: 600;
    font-size: 30px;
}

.under-splash-earned {
    text-align: center;
    color: gray;
    font-weight: 300;
    font-size: 30px;
}

.under-splash-get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 150px;
    background-color: #ff5f5f;
    transition: .5s;
    border-radius: 999px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.under-splash-get-started:hover {
    cursor: pointer;
    background-color: #ff4545;
}

.mid-splash-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mid-under-splash-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 230px;

}

.mid-under-splash-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1020px;
    font-weight: 800;
    font-size: 35px;
    background: -webkit-linear-gradient(135deg, #5b8dfe 0%, #ff5f5f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mid-under-splash-paragraph {
    display: flex;
    justify-content: space-between;
    width: 1020px;
}

.mid-under-splash-buttons-1 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-2 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-3 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-4 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-5 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-6 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-7 {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    border-radius: 999px;
    border-top: rgb(245, 245, 245) 16px solid;
    border-bottom: rgb(245, 245, 245) 16px solid;
    border-left: rgb(245, 245, 245) 24px solid;
    border-right: rgb(245, 245, 245) 24px solid;
}

.mid-under-splash-buttons-1:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-2:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-3:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-4:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-5:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-6:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}


.mid-under-splash-buttons-7:hover {
    cursor: default;
    background-color: #FFEEEE;
    border-top: #FFEEEE 16px solid;
    border-bottom: #FFEEEE 16px solid;
    border-left: #FFEEEE 24px solid;
    border-right: #FFEEEE 24px solid;
    color: #FF5F5F;
}

.testimonial-wrapper {
    width: 100%;
    height: 500px;
    background-color: #f7eee0;
}

.under-testimonial-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-mid-splash-wrapper-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to right, transparent, #fff7e8);
}



.bottom-mid-splash-wrapper-2 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: white;
}

.bottom-mid-splash-wrapper-3 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to right, transparent, #eff1f3);
}

.bottom-mid-splash-wrapper-4 {
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: white;
}


.bot-splash-wrapper-1 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.bot-splash-desc-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 540px;
    height: 400px;

}

.bot-splash-wrapper-2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}

.bot-splash-desc-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 540px;
    height: 440px;
}

.bot-splash-wrapper-3 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.bot-splash-desc-3 {
    width: 540px;
    height: 500px;
    background-color: white;
}


.bot-splash-wrapper-4 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}

.bot-splash-desc-4 {
    width: 540px;
    height: 500px;
    background-color: white;
}

.bot-desc-title-1 {
    font-weight: 800;
    font-size: 32px;
}

.bot-desc-sub-1 {
    color: #434b57;
    font-size: 20px;
    font-weight: bold;
}

.bot-desc-para-1 {
    color: #434b57;
    opacity: .8;
    font-size: 20px;
    font-weight: 400;
}

.bot-desc-button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF5F5F;
    color: white;
    height: 55px;
    border-radius: 999px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.bot-desc-button-1:hover {
    cursor: pointer;
    background-color: #ff4545;
}

.bot-desc-title-2 {
    font-weight: 800;
    font-size: 32px;
}

.bot-desc-sub-2 {
    color: #434b57;
    font-size: 20px;
    font-weight: bold;
}

.bot-desc-para-2 {
    color: #434b57;
    opacity: .8;
    font-size: 20px;
    font-weight: 400;
}

.bot-desc-button-2 {
    display: flex;
    color: white;
    height: 140px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    width: 100%;

}

.bot-desc-button-liner {
    background-color: #f2f4f9;
    height: 100%;
    width: 5px;
    margin-right: 20px;
}

.bot-desc-button-2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.bot-desc-button-2:hover {
    cursor: pointer;
    opacity: .7;
}

.pfp-desc-holder-1 {
    display: flex;
    color: #434b57;
    opacity: .8;
    font-weight: 400;
}

.pfp-desc-title-1 {
    margin-left: 20px;
}

#pfp1 {
    height: 50px;
    border-radius: 999px;
    border: white 5px solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.visit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F7F7F7;
    font-size: 16px;
    height: 45px;
    width: 115px;
    border-radius: 999px;
}


.collapse-button button {
    display: flex;
    padding-left: 20px;
    align-items: center;
    font-family: 'Nunito';
    font-size: 18px;
    color: black;
    font-weight: bold;
    width: 920px;
    height: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: transparent;
    background-color: white;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.collapse-button button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#plus-icon {
    height: 15px;
    margin-right: 15px;
    filter: invert(45%) sepia(86%) saturate(1286%) hue-rotate(325deg) brightness(102%) contrast(97%);
}

.all-the-feats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
}

#feat-title {
    font-weight: 800;
    font-size: 32px;
}

#feat-para {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: gray;
}

#feat-link {
    font-weight: 800;
    font-size: 20px;
    color: gray;
}


.bottom-grid-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

.bottom-grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 333px);
    gap: 20px;
}

.bottom-grid-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    width: 333px;
    height: 210px;

}

.bottom-grid-card-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.bottom-grid-card-para {
    color: gray;
}

#grid-icon {
    height: 50px;
    margin-bottom: 15px;
}

.toggle p {
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.collapse-button #plus-icon {
    animation-name: out;
    animation-duration: 2s;
}

.collapse-button:hover #plus-icon {
    animation-name: in;
    animation-duration: 2s;
}


@keyframes in {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
