.opened-div {
    font-family: 'Nunito';
    font-weight: 400;
    transition: height 1s;
    width: 920px;
}

.toggle {
    font-family: 'Nunito';
    font-weight: 400;
    transition: height 1s;
}

.collapse-button {
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Nunito';
    font-weight: 400;
    width: 920px;
}
