.opened-div {
    font-family: 'Nunito';
    font-weight: 700;
    transition: height 1s;
    width: 920px;
    transition: width 1s ease-out, height 1s ease-out;
    height: 100%;
}

.toggle {
    font-family: 'Nunito';
    font-weight: 700;

    transition: width 1s ease-out, height 1s ease-out;
}

.collapse-button {
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Nunito';
    font-weight: 400;
    width: 920px;
    transition: width 1s ease-out, height 1s ease-out;
}
